table {
    overflow: auto;
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border: 0.5px solid rgb(83, 79, 79);
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #04AA6D;
    color: white;
  }


  .button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .smallButton {
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .smallButton:hover {
    background-color: #d32f2f; /* Darker red */
  }
  

.title-green{
color: green;
}

.title-red{
color: red;
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}