<div style="padding-left: 100px;">
    <h1 class="heading">Add Admins</h1>

    <form [formGroup]="adminsForm" (ngSubmit)="saveAdmin()">
        <label>ID</label>
        <input type="text" formControlName="id" placeholder="Enter the ID of new admin">
      
        <label>Name</label>
        <input type="text" formControlName="name" placeholder="Enter the name of new admin">
      
        <label>Username<span class="required">*</span></label>
        <input type="text" formControlName="username" placeholder="Enter the username of new admin" required>

        <div class="mandatory" *ngIf="username.errors?.['required']">
          <p>This field is mandatory</p>
      </div>
      
        <label>Password<span class="required">*</span></label>
        <input type="text" formControlName="password" placeholder="Enter the password of new admin" required>

        <div class="mandatory" *ngIf="password.errors?.['required']">
          <p>This field is mandatory</p>
      </div>
      
        <div *ngIf="adminsForm.valid">
          <input type="submit" value="Save Admin">
        </div>

        
      </form>
</div>

<h3> Form status: {{adminsForm.valid}}</h3>
<h3> Form json: {{adminsForm.value | json}}</h3>