
table {
    border-collapse: collapse;
    width: 90%;
    overflow: auto;
    border-radius: 3px;
}

th,
td {
    text-align: left;
    padding: 8px;
    border: 0.5px solid #77bdd7;
    box-sizing: content-box;
}

tr:nth-child(even) {
    background-color: #b2e3f3;
}

tr:hover {
    background-color: #fdfdfd;
    cursor: pointer;
}

th {
    background-color: #5fa1e3;
    color: #fcfcfc;
    border: 0.5px solid #28042a;
    box-sizing: content-box;
}


.button {
    background-color: #55b9da;
    /* Blue */
    border: none;
    color: rgb(255, 254, 254);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.smallButton {
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .smallButton:hover {
    background-color: #d32f2f; /* Darker red */
  }
  

.fade-in {
    animation: fadeIn 1s ease-in-out;
    color: rgb(81, 119, 176)
    
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}